@charset "ISO-8859-1";
container{
	position: relative;
}
#header{
	background:black;
	height:"300px";
	width:"1600px" ;
}
#header a:link{
	font-size:larger;
	 color:white;
}

#header a:hover{
	font-size:larger;
	 color:red;
}

headermenu{
	display:table;
	}

#headermenu a:link{
	font-size:larger;
}

a:link{
	 color:blue;
	 text-decoration: none;
}
a:visited{
	color:indigo;
}
a:hover{
	color:red;
	text-decoration:none;
}
a:active{
	color:red;
}
.menu_item{
	display:table-cell;
	 padding-right: 20px;
}
.pageheading{
	color:darkblue;
}
#background {
  position: relative;
  text-align: center;
  color: black;
}
#centered a:link{
	 color:white;
}
#centered a:hover{
	 color:red;
}
.centered {
	  position: absolute;
	  bottom: 8px;
      right: 1px;
	  border:3px solid black;
	  border-radius: 30px;
      font-size: 20px;
}
.top-left{
	position: absolute;
	bottom:1;
	left: 20px;
     background:black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
.top-left1{
	position: absolute;
	top:900px;
	left:5px;
	color: black;
	 padding-left: 20px;
	  padding-right: 20px;
}
.center{
	position: absolute;
	bottom:1;
	left:350px;
	background:black;
	  color: white;
	  padding-left: 20px;
	  padding-right: 20px;
}
#center2 a:link{
	 position: absolute;
	top:920px;
	left:327px;
	  color: black;
	  padding-left: 20px;
	  padding-right: 20px;
}
#center2 a:hover{
	 color:red;
}
.quick{
	position: absolute;
	bottom:1;
	left:700px;
	background:black;
	  color: white;
	  padding-left: 20px;
	  padding-right: 20px;	
}
#link a:link{
	position: absolute;
	top:920px;
	left:730px;
	  color: black;
	  padding-left: 20px;
	  padding-right: 20px;
}
#link a:hover{
	 color:red;
}
#link1 a:link{
	position: absolute;
	top:950px;
	left:730px;
	  color: black;
	  padding-left: 20px;
	  padding-right: 20px;
}
#link1 a:hover{
	 color:red;
}
#link2 a:link{
	position: absolute;
	top:980px;
	left:730px;
	  color: black;
	  padding-left: 20px;
	  padding-right: 20px;
}
#link2 a:hover{
	 color:red;
}
#link3 a:link{
	position: absolute;
	top:1010px;
	left:730px;
	  color: black;
	  padding-left: 20px;
	  padding-right: 20px;
}
#link3 a:hover{
	 color:red;
}
#link4 a:link{
	position: absolute;
	top:1040px;
	left:730px;
	  color: black;
	  padding-left: 20px;
	  padding-right: 20px;
}
#link4 a:hover{
	 color:red;
}
#link5 a:link{
	position: absolute;
	top:1070px;
	left:730px;
	  color: black;
	  padding-left: 20px;
	  padding-right: 20px;
}
#link5 a:hover{
	 color:red;
}
#link6 a:link{
	position: absolute;
	top:1100px;
	left:730px;
	  color: black;
	  padding-left: 20px;
	  padding-right: 20px;
}
#link6 a:hover{
	 color:red;
}
.follow{
	position: absolute;
	top:845px;
	left:1050px;
	background:black;
	  color: white;
	  padding-left: 20px;
	  padding-right: 20px;	
}

#followus a:link{
	position: absolute;
	top:920px;
	left:1090px;
	
	  color: black;
}
#followus a:hover{
	 color:red;
}
#followus1 a:link{
	position: absolute;
	top:920px;
	left:1130px;
	display:table-cell;
	 padding-right: 20px;
	  color: black;
}
#followus1 a:hover{
	 color:red;
}
#followus2 a:link{
	position: absolute;
	top:920px;
	left:1170px;
	display:table-cell;
	 padding-right: 20px;
	  color: black;
}
#followus2 a:hover{
	 color:red;
}
#followus3 {
	position: absolute;
	top:930px;
	left:1050px;
	 padding-right: 20px;
	  color: black;
}
#followus3 a:hover{
	 color:red;
}
.footer{
	background: black;
	color:white;
}
